@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');

a{
  text-decoration: none;
  display: block;
  color: rgb(45, 45, 45);
  font-family: 'Miriam Libre', sans-serif;
}

.active{
  font-weight: bold;
  text-decoration: none;

}
.galleryPreview{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.galleryPreview img{
  width: 100%;
}
.main{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 0;
  }
.gallery{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 30%;
  background-color: rgb(169, 171, 171);
  z-index: 0;
  font-family: 'Miriam Libre', sans-serif;
}
.gallery a {
  width: 30%;
}
.art{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  height: 80vh;
  padding: .15rem;
  background-color: rgba(154, 95, 160, 0.38);
}
.art-image{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: .1rem;
  background-color: rgba(154, 95, 160, 0.38);
}
.art-image img{
  width: 100%;
}
.hide {
  display: none;
}
.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: .1rem;
  background-color: rgba(154, 95, 160, 0.38);
}
